<li class="spotdetails">
  <div><%= link_to "現場名：　#{spot.s_name}", "#" %></div>
  <div>現場住所：　<%= spot.address %></div>
  <div>工期：　<span><%= spot.start %></span> ~ <span><%= spot.last %></span></div>
  <div>発注金額：　¥ <%= spot.money %></div>
</li>