<div class="spot-show-page">
  <div class="detail mt-4">
    <div class="ditail-name">
     <%= @spot.s_name %>
    </div>
    <div class="spot-information">
      <div class="detail-address mt-4">
        現場住所：　<%= @spot.address %>
      </div>
      <div class="detail-span mt-4">
        　工期　：　<span><%= @spot.start %></span> ~ <span><%= @spot.last %></span></li>
      </div>
      <div class="detail-money mt-4">
        発注金額：　¥ <%= @spot.money %>
      </div>
      <div class="detail-company mt-4">
        建設会社：　 <%= link_to @spot.user.name, user_path(id: @spot.user.id), class: "detail-company" %>
      </div>
    </div>
  </div>

    <%= render 'likes/like', spot: @spot %>

  <% if logged_in? %> 
      <%= form_with model: [@spot,@comment], local: true , class: "comment-form" do |f| %>
        <%= f.text_area :text, rows: "2", class: "form-control"%>  
        <%= f.submit "コメントする", class: "form-button" %> 
      <% end %>
  <% end %>

  <div class="comment-index">
    <% if @comments.any? %>
      <span class="box-title">コメント</span>
    <% end %>
    <% @comments.each do |comment| %>
      <p class="comment-contents">
        <strong><%= link_to "#{comment.user.name}", user_path(id: comment.user.id), class: "comment-user" %></strong><br>
        <%= safe_join(comment.text.split("\n"),tag(:br)) %>
        <% if logged_in? && current_user.id == comment.user_id %>
          <%= button_to "コメント削除", spot_comment_path(comment.spot.id, comment.id), class: "comment-delete", method: :delete %>
        <% end %>
      </p>
    <% end %>
  </div>
</div>
