<div class="user-show-page">
  <div class="detail mt-4">

    <div class="ditail-name mt-4">
      現場名：　<%= @spot.s_name %>
    </div>

    <div class="detail-name mt-4">
      現場住所：　<%= @spot.address %>
    </div>

    <div class="detail-name mt-4">
      工期：　<span><%= @spot.start %></span> ~ <span><%= @spot.last %></span></li>
    </div>

    <div class="detail-name mt-4">
      発注金額：　¥ <%= @spot.money %>
    </div>

    <div class="detail-name mt-4">
      建設会社：　 <%= link_to @spot.user.name, user_path(id: @spot.user.id) %>
    </div>
  </div>

    <%= render 'likes/like', spot: @spot %>
<% if logged_in? %>
    <%= form_with model: [@spot,@comment], local: true do |f| %>
      <%= f.text_area :text, rows: "2"%>
      <%= f.submit "コメントする" %>
    <% end %>
<% end %>

<h4>＜コメント一覧＞</h4>
<% @comments.each do |comment| %>
  <p>
    <strong><%= comment.user.name %>：</strong>
    <%= comment.text %>
    <% if logged_in? && current_user.id == comment.user_id %>
      <%= button_to "削除", spot_comment_path(comment.spot.id, comment.id), method: :delete %>
    <% end %>
  </p>
<% end %>
</div>