<nav class="navbar navbar-light sticky-top header-top">
  <div class="container-fluid">
    <%= link_to root_path do %>
      <%= image_tag 'title-logo3.png', class: "title-logo" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item">
            <%= link_to "プロフィール", user_path(id: current_user), class: "header-chara nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: "header-chara nav-link" %>
          </li>
          <li class="nav-item">           
            <%= link_to "ログイン", user_session_path, class: "header-chara nav-link" %>
          </li>
          <li class="nav-item">           
            <%= link_to 'ゲストログイン(閲覧用)', users_guest_sign_in_path, class: "header-chara nav-link", method: :post %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
