<header class="navbar navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <%= link_to "現場マッチ", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right list-group list-group-horizontal">
        <% if logged_in? %>
            <li><%= link_to "Users", "#" %></li>  
            <li><%= link_to "プロフィール", user_path(id: current_user) %></li>
        <% else %>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>